/* it use of column-reverse and descending order to allow top element shrink before bottom element */

.preview {
  height: 100%;
  width: 100%; 
  overflow: hidden;
  display: flex; 
  flex-direction: column-reverse;
}

.preview-media {
  flex: 1 1 auto;
  object-fit: cover;
  order: 2;
  overflow: hidden;
  background-color: #FFFFFF;
}

.preview-content {
  flex: 0 0 auto;
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  order: 1;

  text-decoration: none;
  color: #000000;
}

.preview-title {
  font-weight: bold;
  font-size: 16px;
}

.preview-text {
  margin: 0px;
  text-overflow: ellipsis;
  overflow: hidden;

  display: -webkit-box;
   -webkit-line-clamp: 2; /* only display 2 line of p */
   -webkit-box-orient: vertical;
}