.ql-editor {
  padding: 0px !important;
  height: auto !important;
  max-height: 100%;
  touch-action: none !important;

  -ms-overflow-style: none;  /* Internet Explorer 10+ - hide scrollbar */
  scrollbar-width: none;  /* Firefox - hide scrollbar */
}

.ql-editor::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome - hide scrollbar */
}


/* remove the mechanism on hiding quill toolbar when the text is not selected */
.ql-display {
  display: initial !important; 
}

.ql-tooltip {
  position: fixed !important;
  background-color: #444444;
  padding: 8px;
  width: 450px;
  border-radius: 20px;
  cursor: initial;

  left: 0px !important;
  top: -65px !important;  

  margin-top: 0 !important; /* prevent it add margin-top when the ql-editor overflows */
}

.ql-picker-options {
  cursor: pointer;
}

.ql-tooltip-arrow {
  display: none !important;
}

.move-cursor p:hover{
  cursor: move;
}
