#control-menu {
  position: fixed;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#control-menu-bar {
  flex-direction: row;
  gap: 10px;
  display: flex;
  height: fit-content;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  background-color: #FFEED6;
  align-items: center;
  padding: 9px 16px 9px 16px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px #00000040
}

#control-menu-icon {
  width: 70px;
  height: 70px;
  cursor: pointer;
}