#control-create {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#control-url {
  position: fixed;
  right: 20px;
  top: calc(20px + 65px);

  margin-top: 20px;
  background-color: #FFFFFF;

  border: 1px solid #78290F;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#control-url-input {
  width: 350px;
  font-size: 16px;
  padding: 8px 16px 8px 16px;
  border-width: 0px;
}

#control-url-input:focus {
  outline-width: 0;
}

.option-button {
  height: 60px;
  width: 60px;
}